.hotelType {
    display: inline-block;
    padding-top: 15px;
    margin-left: 25px;
}

.title {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.hotels {
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin-left: 200px;
}

.hotel-Type {
    display: flex;
    justify-items: center;
}